@use "../custom" as *;
@use "./mixins" as *;

.btn {
  cursor: pointer;
  width: 156px;
  height: 60px;
  padding: 11px 37px;
  border-radius: 10px;
  color: $white;
  background-color: $primary;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
}

.icon-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;

  svg {
    @include responsive(mobile) {
      width: 13px !important;
      height: 13px !important;
    }
  }

  svg > path {
    transition: fill 500ms linear;
    fill: $btn-default;
  }

  &:hover,
  &:focus {
    svg > path {
      fill: $btn-active--red;
    }
  }
}

.btn-borderless {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}

.btn-more-thumbnail {
  cursor: pointer;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
  bottom: 1.7rem;
  right: 1.5rem;
  border: 1px solid $dark;
  border-radius: 5px;
  background-color: $white;
  color: $dark;
  font-size: 14px;
  font-weight: 600;
  transition: all 1s ease;

  &:hover {
    background-color: $dark;
    color: $white;
  }

  svg {
    margin-right: 10px;
    width: 16px;
    height: 16px;
  }

  &.btn-normal {
    position: relative !important;
    display: block;
    bottom: 0;
    right: 0;

    &.w-100-md {
      @include responsive(mobile) {
        width: 100%;
      }
    }
  }
}

.btn-submit-reserve {
  cursor: pointer;
  background-color: $primary;
  color: $white;
  font-size: 14px;
  font-weight: 600;
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  border: none;
  text-align: center;
  transition: all 1s ease;

  &:hover,
  &:focus {
    background-color: $black;
  }
}

.fave-btn {
  &:hover {
    svg > path {
      fill: $btn-active--red;
      fill-opacity: 60%;
    }
  }

  &:focus {
    svg > path {
      fill: $btn-active--red;
      fill-opacity: 40%;
    }
  }

  &:active {
    svg > path {
      fill: $btn-active--red;
      stroke: $btn-active--red;
      fill-opacity: 100%;
    }
  }

  &.active {
    svg > path {
      fill: $btn-active--red;
      stroke: $btn-active--red;
      fill-opacity: 100%;
    }
  }
}

.share-btn {
  &:hover {
    svg > path {
      fill: $btn-active--green;
      fill-opacity: 60%;
    }
  }

  &:focus {
    svg > path {
      fill: $btn-active--green;
      fill-opacity: 40%;
    }
  }

  &:active {
    svg > path {
      fill: $btn-active--green;
      stroke: $btn-active--green;
    }
  }
}
