// Theme Colours
$primary:  #3D94FF;
$accent: #999;
$bg-color: #F8F8F8;
$bg-color-alt: #F7F7F7;
$btn-default: #B8B8B8;
$btn-active--red: #FF385C; 
$btn-active--green: #3bff38; 


// Natural Colours
$g-50: #B8B8B8;
$g-100: #999999;
$g-200: #888888;
$g-300: #777777;
$g-400: #666666;
$g-500: #555555;
$g-600: #444444;
$g-700: #333333;
$g-800: #222222;
$g-900: #111111;
$dark: #3E3E3E;
$black: #000;
$white: #fff;


//  Fonts
$default-font: "Poppins";
$alt-font: "Roboto";