@use "./custom" as *;
@use "./components/mixins" as *;

.footer {
  --footer-px: 3rem;
  --footer-py: 4rem;
  position: relative;
  display: block;
  color: $dark;
  box-shadow: 0px 0px 0px 0.5px rgba($color: $g-800, $alpha: 0.15);

  @include responsive(mediadown) {
    --footer-px: 1.33rem;
    --footer-py: 1.75rem;
  }

  .footer-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: $white;
    padding: 0.5rem var(--footer-px);
  }

  .footer-section--mini {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: $white;

    @include responsive(mobile) {
      font-size: 14px;
      font-weight: 300;
      margin: 0 auto !important;
    }

    &.footer-section--left {
      margin-right: auto;

      @include responsive(mobile) {
        margin-right: 0;
      }
    }

    &.footer-section--right {
      margin-left: auto;
      @include responsive(mobile) {
        margin-left: 0;
      }
    }

    .trademark {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      width: fit-content;
      margin-right: 1rem;
      font-size: 13px;

      @include responsive(mobile) {
        margin-block-end: 6px;
        margin-block-start: 6px;
        font-size: 11px;
      }

      time {
        margin-right: 6px;
        font-size: 12px;
      }
    }
    &.list-style-none > .footer-redirect-list {
          display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
      .footer-redirect-item {
        list-style: none !important;
        margin-left: 1rem;
        margin-right: 1rem;
      }
    }

    .footer-redirect-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      list-style: disc;
      font-size: 14px;

      @include responsive(mobile) {
        justify-content: space-evenly;
        margin-block-end: 6px;
        margin-block-start: 6px;
      }

      .footer-redirect-item {
        margin-left: 0.6rem;
        margin-right: 1.2rem;
        color: $g-50;

        .footer-redirect-link {
          font-size: 11px;
          font-weight: 300;
          @include responsive(mobile) {
            font-size: 10px;
          }
        }
      }
    }
  }

  .footer-section--long {
    display: block;
    background-color: $bg-color-alt;
    padding: var(--footer-py) var(--footer-px);

    .footer-heading--text {
      display: block;
      font-size: 1.75rem;
      font-weight: 500;
      margin-bottom: 2rem;

      @include responsive(mediadown) {
        font-size: 1.35rem;
      }
    }

    .footer-location-list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 15px 80px;

      @include responsive(mediadown) {
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
      }

      .footer-location-item {
        .footer-location-link {
          font-size: 14px;
          font-weight: 300;
          @include responsive(mediadown) {
            font-size: 11px;
          }
        }
      }
    }
  }
}
