@use "./custom" as *;
@use "./components/button" as *;
@use "./components/mixins" as *;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");

* {
  font-family: $default-font, $alt-font, sans-serif;
  font-size: 13px;
}

:root {
  img,
  svg {
    width: inherit;
  }

  #root {
    width: 100dvw;
    min-height: 100dvh;
  }
  html {
    overflow: hidden;
  }
  main,
  body {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100vh;
    overflow-x: hidden;
  }

  header {
    position: relative;
  }

  input:has([type="search"], [type="tel"], [type="email"], [type="number"]) {
    &:focus-visible {
      outline: none;
    }
  }

  a {
    color: $black;
    text-decoration: none;
    transition: color 500ms linear;

    &:hover {
      color: $primary;
    }

    &:focus,
    &:hover {
      color: $primary;
      text-decoration: underline;
    }
  }

  ul {
    margin-inline-start: 0px;
    list-style-type: none;
    padding-inline-start: 0px;
  }

  .info-banner {
    position: relative;
    display: none;
    flex-wrap: wrap;
    align-items: center;
    padding: 0.75rem 1.5rem;
    text-align: center;
    
    @include responsive(mobile) {
      width: max-content;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 5%);
      padding: 0.5rem;
    }

    &.show {
      display: flex;
    }

    .info-text {
      margin: 0 auto;
      font-size: 16px;
      font-weight: 600;
      @include responsive(mobile) {
        font-size: 12px;
      }
    }

    .icon-btn {
      position: absolute;
      right: 1rem;

      @include responsive(mobile) {
        display: none !important;
      }
    }
  }

  .panel {
    position: absolute;
    z-index: 99;
    top: 3.5rem;
    right: 0;
    overflow: hidden;
    background-color: $white;
    box-shadow: 0px 0px 10px rgba($color: $g-800, $alpha: 0.25);

    &.show {
      display: block !important;
      @include responsive(mobile) {
        display: none !important;
      }
    }

    .header {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      width: initial;
      padding: 6px 12px;
      border-bottom: 1px solid rgba($color: $g-800, $alpha: 0.15);
    }

    .body {
      width: auto;
      height: 80%;
      max-height: 80%;
      padding: 12px;
    }
  }
}
