@use "./custom" as *;
@use "./components/mixins" as *;

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.75rem 1.5rem;
  box-shadow: 0px 0px 0px 0.5px rgba($color: $g-800, $alpha: 0.15);

  &.no-nav-mobile {
    @include responsive(mobile) {
      display: none;
    }
  }

  @include responsive(mediadown) {
    display: block;
    box-shadow: none;
    padding: 0.75rem 0 0 0;
    margin-top: 0.5rem;
  }

  .nav-brand {
    width: 63px;

    @include responsive(mediadown) {
      width: 46px;
      margin-left: 1rem;
    }
  }

  .search-input--form {
    position: absolute;
    display: flex;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 30px;
    box-shadow: 0px 0px 0px 0.25px rgba($color: $g-800, $alpha: 0.15),
      0px 0px 5px rgba($color: $g-800, $alpha: 0.15);
    background-color: $white;

    @include responsive(mediaup) {
      bottom: 50%;
      right: 50%;
      transform: translate(50%, 50%);
    }

    @include responsive(mediadown) {
      position: relative !important;
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 2rem;
      margin-left: auto;
      margin-right: auto;
      margin-top: 1.5rem;
      max-width: 250px;
    }

    .filter-btn {
      margin-right: 15px;

      @include responsive(mediadown) {
        display: block;
        margin-right: 6px;
      }
    }

    .search-input--text {
      border: none;
      font-weight: 300;
      font-size: 14px;
      color: $g-50;
      margin: 0 3px;
      padding-bottom: 2px;
      @include responsive(mediadown) {
        // display: none;
      }

      &:focus-visible {
        border-bottom: 1px solid $primary;
      }

      &#search_input_address {
        width: 9rem;
        @include responsive(mediadown) {
          width: 8.75rem;
        }
      }
      &#search_input_town {
        width: 4.5rem;
        @include responsive(mediadown) {
          margin-left: 0.5rem;
          width: 4.25rem;
        }
      }

      &::placeholder {
        color: rgba($color: $g-50, $alpha: 0.75);
      }

      &:focus-visible {
        outline: none;
      }
    }

    .search-input--btn {
      background-color: $primary;
      border-radius: 50%;
      margin-left: 12px;
      width: 30px;
      height: 30px;
      @include responsive(mediadown) {
        // display: none;
        padding: 0;
        margin-left: auto;
      }
    }
  }

  .nav-menu {
    width: --webkit-fill-available;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;

    @include responsive(mediadown) {
      display: none !important;
    }

    .menu-item {
      position: relative;
      margin: 0 10px;

      .nav-link {
        font-weight: 500;
        font-size: 14px;
      }

      .notify-btn {
        position: relative;

        .notified {
          display: none;
          position: absolute;
          right: 5px;
          top: 3px;
          width: 7px;
          height: 7px;
          border-radius: 50%;
          box-shadow: 0px 0px 0px 1px $white;
          background-color: $btn-active--red;

          &.show {
            display: block;
          }
        }
      }

      &.user-profiler {
        border-radius: 30px;
        box-shadow: 0px 0px 0px 0.5px rgba($color: $g-800, $alpha: 0.15);
        padding: 0.4rem 0.5rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .user-avatar {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          outline: 1.5px solid $bg-color;
          margin-left: 13px;

          img {
            width: inherit;
            height: inherit;
          }
        }
      }

      .notification-panel {
        display: none;
        width: 288px;
        height: 360px;
        max-height: 360px;

        .header {
          h3 {
            font-weight: 500;
            font-size: 14px;
            margin-block-start: 0.25em;
            margin-block-end: 0.25em;
          }

          .notificatiion-link--more {
            margin-left: auto;
            font-size: 10px;
            color: $primary;
          }
        }

        .body {
          .updated_msg {
            width: inherit;
            height: inherit;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            font-weight: 400;
          }

          p {
            width: inherit;
            display: flex;
            font-size: 12px;
          }
        }
      }

      .user-dropdown {
        display: none;
        width: 139px;
        // height: 216px;
        min-height: 30px;
        top: 4.5rem;

        .menu-list {
          padding-left: 12px;
          padding-right: 12px;
          padding-top: 4px;
          padding-bottom: 4px;
          margin: 0;

          .menu-item {
            font-size: 14px;
            font-weight: 500;
            margin-top: 21px;
            margin-bottom: 21px;
          }
        }

        .menu-item--extra {
          font-size: 14px;
          font-weight: 500;
          margin-top: 14px;
          margin-bottom: 14px;
          padding-left: 21px;
          padding-right: 21px;
        }
      }
    }
  }
}

.nav-menu--mobile {
  position: fixed;
  z-index: 99;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  width: -webkit-fill-available;
  padding: 5px 20px;
  background-color: $white;
  transition: bottom 1s ease 200ms;

  @include responsive(desktop) {
    display: none;
  }

  &.hidden {
    bottom: -20%;
  }

  .menu-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: -webkit-fill-available;
    padding: 0 20px;

    .menu-item {
      width: 2.33rem;
      margin-block-start: 0.2rem;
      margin-block-end: .2rem;

      a {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 8px;
        transition: all 1s ease;
        text-decoration: none;
        &:hover {
          color: $primary;
        }

        &:hover > svg > path,
        &:focus > svg > path {
          fill: $primary;
        }

        svg {
          width: 22px !important;
          margin: 6px;
          path {
            fill: $dark;
          }
        }
      }
    }
  }
}
