@keyframes fave_click {
  0% {
    scale: 70%;
  }
  100% {
    scale: 100%;
  }
}
.category-carousel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-height: 80px;
  padding: 6px 3rem;
  background-color: #fff;
  margin-bottom: 1.5rem;
}
@media (max-width: 767px) {
  .category-carousel {
    padding: 4px 1.5rem;
  }
}
.category-carousel .category-carousel-btn {
  cursor: pointer;
  width: 20px;
  height: 20px;
  padding: 3px;
  margin: auto 0;
  border-radius: 50%;
  border: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(62, 62, 62, 0.15);
  transition: background-color 1s ease;
}
.category-carousel .category-carousel-btn:hover {
  background-color: #B8B8B8;
}
.category-carousel .category-carousel-btn:hover svg > path {
  fill: #fff;
}
@media (max-width: 767px) {
  .category-carousel .category-carousel-btn {
    width: 15px;
    height: 15px;
    padding: 2px;
  }
}
.category-carousel .category-carousel-btn svg {
  width: 7px;
  margin: auto;
}
@media (max-width: 767px) {
  .category-carousel .category-carousel-btn svg {
    width: 5px;
  }
}
.category-carousel .category-carousel-btn svg path {
  transition: fill 1s ease;
}
.category-carousel .category-carousel-btn.disable svg > path {
  fill: #999999;
}
.category-carousel .category-carousel-btn.category-carousel-btn--left {
  margin-right: auto;
}
.category-carousel .category-carousel-btn.category-carousel-btn--right {
  margin-left: auto;
}
.category-carousel .category-carousel-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 90%;
  padding: 0 4px;
  margin: 0.3rem auto;
  overflow: hidden;
}
@media (max-width: 767px) {
  .category-carousel .category-carousel-box {
    width: 80%;
  }
}
.category-carousel .category-carousel-box .carousel-box-list {
  overflow: hidden;
  display: flex;
  margin-block-end: 0.2em;
  margin-block-start: 0.2em;
  transition: transform 1s ease;
}
.category-carousel .category-carousel-box .carousel-box-list .box-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  color: #B8B8B8;
  font-size: 9px;
  font-weight: 400;
  padding: 4px 3px;
  margin: 0 1rem;
  text-transform: capitalize;
  width: 120px;
  height: 80px;
  text-align: center;
  transition: all 1s ease;
}
.category-carousel .category-carousel-box .carousel-box-list .box-item:hover {
  color: #3D94FF;
}
.category-carousel .category-carousel-box .carousel-box-list .box-item:hover svg > path {
  fill: #3D94FF;
}
.category-carousel .category-carousel-box .carousel-box-list .box-item:hover .active-item {
  background-color: rgba(61, 148, 255, 0.5);
}
.category-carousel .category-carousel-box .carousel-box-list .box-item:focus svg > path {
  fill: #3E3E3E;
}
.category-carousel .category-carousel-box .carousel-box-list .box-item:focus .active-item {
  background-color: #3E3E3E;
}
@media (max-width: 767px) {
  .category-carousel .category-carousel-box .carousel-box-list .box-item {
    font-size: 7px;
  }
}
.category-carousel .category-carousel-box .carousel-box-list .box-item svg {
  width: 40px;
  height: 40px;
  fill: none;
  margin-bottom: 6px;
}
@media (max-width: 767px) {
  .category-carousel .category-carousel-box .carousel-box-list .box-item svg {
    width: 25px;
    height: 25px;
  }
}
.category-carousel .category-carousel-box .carousel-box-list .box-item svg path {
  fill: #B8B8B8;
  transition: all 1s ease;
}
.category-carousel .category-carousel-box .carousel-box-list .box-item .active-item {
  border-radius: 5px;
  width: 1.66rem;
  height: 3px;
  margin-top: auto;
  background-color: transparent;
  transition: all 1s ease;
}

.catalogue-section {
  position: relative;
  padding: 0.5rem 5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
@media (max-width: 767px) {
  .catalogue-section {
    grid-template-columns: 1fr;
    padding: 0.5rem 3rem;
  }
}
.catalogue-section .catalogue-item--card {
  display: block;
  position: relative;
  width: 100%;
}
.catalogue-section .catalogue-item--card .card-favourite {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 10;
}
.catalogue-section .catalogue-item--card .card-favourite:hover svg > path {
  fill: #FF385C;
  fill-opacity: 60%;
}
.catalogue-section .catalogue-item--card .card-favourite:focus svg > path {
  fill: #FF385C;
  fill-opacity: 80%;
}
.catalogue-section .catalogue-item--card .card-favourite:active svg > path {
  fill: #FF385C;
  stroke: #FF385C;
  fill-opacity: 100%;
}
.catalogue-section .catalogue-item--card .card-favourite.active svg > path {
  fill: #FF385C;
  stroke: #FF385C;
  fill-opacity: 100%;
}
.catalogue-section .catalogue-item--card .card-favourite svg {
  width: 18px;
  height: 18px;
}
.catalogue-section .catalogue-item--card .card-favourite svg:active {
  animation: fave_click 2s ease;
}
.catalogue-section .catalogue-item--card .card-favourite svg > path {
  fill: #222222;
  transition: all 1s ease;
}
.catalogue-section .catalogue-item--card .card-thumbnail--carousel {
  position: relative;
  margin-bottom: 1rem;
}
.catalogue-section .catalogue-item--card .card-thumbnail--carousel .card-thumbnail--carousel_container {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}
.catalogue-section .catalogue-item--card .card-thumbnail--carousel .card-thumbnail--carousel_container .card-thumbnail {
  display: flex;
  width: 100%;
  aspect-ratio: 1/1.015;
  transition: all 2s ease;
}
.catalogue-section .catalogue-item--card .card-thumbnail--carousel .card-thumbnail--carousel_container .card-thumbnail .card-thumbnail--image {
  width: 100%;
}
.catalogue-section .catalogue-item--card .card-thumbnail--carousel .card-thumbnail--carousel_container .card-thumbnail--swipe {
  position: absolute;
  display: flex;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.catalogue-section .catalogue-item--card .card-thumbnail--carousel .card-thumbnail--carousel_container .card-thumbnail--swipe .card-thumbnail--swipe_btn {
  cursor: pointer;
  display: flex;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  margin: 0 1rem;
  padding: 4px;
  background-color: #fff;
  opacity: 0.45;
  transition: opacity 1s ease;
}
.catalogue-section .catalogue-item--card .card-thumbnail--carousel .card-thumbnail--carousel_container .card-thumbnail--swipe .card-thumbnail--swipe_btn.hide {
  display: none;
}
.catalogue-section .catalogue-item--card .card-thumbnail--carousel .card-thumbnail--carousel_container .card-thumbnail--swipe .card-thumbnail--swipe_btn:hover {
  opacity: 0.8;
}
.catalogue-section .catalogue-item--card .card-thumbnail--carousel .card-thumbnail--carousel_container .card-thumbnail--swipe .card-thumbnail--swipe_btn.btn-left {
  margin-right: auto;
}
.catalogue-section .catalogue-item--card .card-thumbnail--carousel .card-thumbnail--carousel_container .card-thumbnail--swipe .card-thumbnail--swipe_btn.btn-right {
  margin-left: auto;
}
.catalogue-section .catalogue-item--card .card-thumbnail--carousel .card-thumbnail--carousel_container .card-thumbnail--swipe .card-thumbnail--swipe_btn svg {
  margin: auto;
}
.catalogue-section .catalogue-item--card .card-thumbnail--carousel .card-thumbnail--carousel_container .card-thumbnail--swipe .card-thumbnail--swipe_btn svg > path {
  fill: #3E3E3E;
}
.catalogue-section .catalogue-item--card .card-thumbnail--carousel .card-thumbnail--carousel_container .card-thumbnail-switch {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 10px;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, 0);
}
.catalogue-section .catalogue-item--card .card-thumbnail--carousel .card-thumbnail--carousel_container .card-thumbnail-switch .card-thumbnail-switch--btn {
  padding-block: 0;
  padding-inline: 0;
  width: 6px;
  height: 6px;
  margin: 0 0.2rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.45;
  transition: all 1s ease;
}
.catalogue-section .catalogue-item--card .card-thumbnail--carousel .card-thumbnail--carousel_container .card-thumbnail-switch .card-thumbnail-switch--btn:hover {
  opacity: 0.7;
}
.catalogue-section .catalogue-item--card .card-thumbnail--carousel .card-thumbnail--carousel_container .card-thumbnail-switch .card-thumbnail-switch--btn.active {
  opacity: 1;
  width: 8px;
  height: 8px;
}
.catalogue-section .catalogue-item--card .card-redirect {
  position: relative;
  width: 100%;
}
.catalogue-section .catalogue-item--card .card-redirect .card-details {
  display: block;
  width: 100%;
}
.catalogue-section .catalogue-item--card .card-redirect .card-details .card-details--title {
  font-size: 16px;
  font-weight: 500;
  margin-block-start: 0.25em;
  margin-block-end: 0.25em;
  width: 80%;
}
.catalogue-section .catalogue-item--card .card-redirect .card-details .card-details--availability,
.catalogue-section .catalogue-item--card .card-redirect .card-details .card-details--distance {
  font-size: 14px;
  font-weight: 300;
  color: #B8B8B8;
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
}
.catalogue-section .catalogue-item--card .card-redirect .card-details .card-details--pricing {
  font-size: 14px;
  font-weight: 300;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}
.catalogue-section .catalogue-item--card .card-redirect .card-details .card-details--pricing .pricing-amount {
  font-size: 16px;
  font-weight: 500;
  font-variant: tabular-nums;
}
.catalogue-section .catalogue-item--card .card-redirect .card-details .card-details--rating {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  top: 0;
  right: 0;
  font-variant: tabular-nums;
}
.catalogue-section .catalogue-item--card .card-redirect .card-details .card-details--rating svg {
  margin-right: 0.25rem;
}

/*# sourceMappingURL=app.css.map */
