@keyframes fave_click {
  0% {
    scale: 70%;
  }
  100% {
    scale: 100%;
  }
}
@keyframes beep {
  to {
    scale: 120%;
  }
}
.btn {
  cursor: pointer;
  width: 156px;
  height: 60px;
  padding: 11px 37px;
  border-radius: 10px;
  color: #fff;
  background-color: #3D94FF;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
}

.icon-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}
@media (max-width: 767px) {
  .icon-btn svg {
    width: 13px !important;
    height: 13px !important;
  }
}
.icon-btn svg > path {
  transition: fill 500ms linear;
  fill: #B8B8B8;
}
.icon-btn:hover svg > path, .icon-btn:focus svg > path {
  fill: #FF385C;
}

.btn-borderless {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}

.btn-more-thumbnail {
  cursor: pointer;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
  bottom: 1.7rem;
  right: 1.5rem;
  border: 1px solid #3E3E3E;
  border-radius: 5px;
  background-color: #fff;
  color: #3E3E3E;
  font-size: 14px;
  font-weight: 600;
  transition: all 1s ease;
}
.btn-more-thumbnail:hover {
  background-color: #3E3E3E;
  color: #fff;
}
.btn-more-thumbnail svg {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}
.btn-more-thumbnail.btn-normal {
  position: relative !important;
  display: block;
  bottom: 0;
  right: 0;
}
@media (max-width: 767px) {
  .btn-more-thumbnail.btn-normal.w-100-md {
    width: 100%;
  }
}

.btn-submit-reserve {
  cursor: pointer;
  background-color: #3D94FF;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  border: none;
  text-align: center;
  transition: all 1s ease;
}
.btn-submit-reserve:hover, .btn-submit-reserve:focus {
  background-color: #000;
}

.fave-btn:hover svg > path {
  fill: #FF385C;
  fill-opacity: 60%;
}
.fave-btn:focus svg > path {
  fill: #FF385C;
  fill-opacity: 40%;
}
.fave-btn:active svg > path {
  fill: #FF385C;
  stroke: #FF385C;
  fill-opacity: 100%;
}
.fave-btn.active svg > path {
  fill: #FF385C;
  stroke: #FF385C;
  fill-opacity: 100%;
}

.share-btn:hover svg > path {
  fill: #3bff38;
  fill-opacity: 60%;
}
.share-btn:focus svg > path {
  fill: #3bff38;
  fill-opacity: 40%;
}
.share-btn:active svg > path {
  fill: #3bff38;
  stroke: #3bff38;
}

.form-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  border-radius: 15px;
  padding: 0.5rem;
  font-size: 16px;
  border: none;
  background-color: #3D94FF;
  color: #fff;
  font-weight: 600;
  line-height: 28px;
}
.form-btn.outline {
  background-color: #fff;
  color: #3D94FF;
  outline: 1px solid #3D94FF;
}

.category-carousel {
  display: flex;
  align-items: center;
  max-height: 80px;
  padding: 6px 3rem;
  background-color: #fff;
  margin-bottom: 1.5rem;
}
@media (max-width: 767px) {
  .category-carousel {
    padding: 4px 1.5rem;
  }
}
.category-carousel .category-carousel-btn {
  cursor: pointer;
  width: 20px;
  height: 20px;
  padding: 3px;
  margin: auto 0;
  border-radius: 50%;
  border: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(62, 62, 62, 0.15);
  transition: background-color 1s ease;
}
.category-carousel .category-carousel-btn:hover {
  background-color: #B8B8B8;
}
.category-carousel .category-carousel-btn:hover svg > path {
  fill: #fff;
}
@media (max-width: 767px) {
  .category-carousel .category-carousel-btn {
    width: 15px;
    height: 15px;
    padding: 2px;
  }
}
.category-carousel .category-carousel-btn svg {
  width: 7px;
  margin: auto;
}
@media (max-width: 767px) {
  .category-carousel .category-carousel-btn svg {
    width: 5px;
  }
}
.category-carousel .category-carousel-btn svg path {
  transition: fill 1s ease;
}
.category-carousel .category-carousel-btn.disable svg > path {
  fill: #999999;
}
.category-carousel .category-carousel-btn.category-carousel-btn--left {
  margin-right: auto;
}
.category-carousel .category-carousel-btn.category-carousel-btn--right {
  margin-left: auto;
}
.category-carousel .category-carousel-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 90%;
  padding: 0 4px;
  margin: 0.3rem auto;
  overflow: hidden;
}
@media (max-width: 767px) {
  .category-carousel .category-carousel-box {
    width: 80%;
  }
}
.category-carousel .category-carousel-box .carousel-box-list {
  display: flex;
  margin-block-end: 0.2em;
  margin-block-start: 0.2em;
  transition: transform 1s ease;
}
.category-carousel .category-carousel-box .carousel-box-list .box-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  color: #B8B8B8;
  font-size: 9px;
  font-weight: 400;
  padding: 10px 3px;
  text-transform: capitalize;
  width: 80px;
  text-align: center;
  transition: all 1s ease;
}
.category-carousel .category-carousel-box .carousel-box-list .box-item:hover {
  color: #3D94FF;
}
.category-carousel .category-carousel-box .carousel-box-list .box-item:hover svg > path {
  fill: #3D94FF;
}
.category-carousel .category-carousel-box .carousel-box-list .box-item:hover .active-item {
  background-color: rgba(61, 148, 255, 0.5);
}
.category-carousel .category-carousel-box .carousel-box-list .box-item:focus svg > path {
  fill: #3E3E3E;
}
.category-carousel .category-carousel-box .carousel-box-list .box-item:focus .active-item {
  background-color: #3E3E3E;
}
@media (max-width: 767px) {
  .category-carousel .category-carousel-box .carousel-box-list .box-item {
    font-size: 7px;
  }
}
.category-carousel .category-carousel-box .carousel-box-list .box-item svg {
  width: 40px;
  height: 40px;
  fill: none;
  margin-bottom: 6px;
}
@media (max-width: 767px) {
  .category-carousel .category-carousel-box .carousel-box-list .box-item svg {
    width: 25px;
    height: 25px;
  }
}
.category-carousel .category-carousel-box .carousel-box-list .box-item svg path {
  fill: #B8B8B8;
  transition: all 1s ease;
}
.category-carousel .category-carousel-box .carousel-box-list .box-item .active-item {
  border-radius: 5px;
  width: 1.66rem;
  height: 3px;
  margin-top: auto;
  background-color: transparent;
  transition: all 1s ease;
}

.catalogue-section {
  position: relative;
  padding: 0.5rem 5rem;
}
@media (max-width: 767px) {
  .catalogue-section {
    padding: 0.5rem 2.5rem;
  }
}
.catalogue-section .catalogue-section--list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-bottom: 3rem;
}
@media (max-width: 767px) {
  .catalogue-section .catalogue-section--list {
    grid-template-columns: 1fr;
  }
}
.catalogue-section .catalogue-section--list .catalogue-item--card {
  display: block;
  position: relative;
  width: 100%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.15);
}
.catalogue-section .catalogue-section--list .catalogue-item--card .card-favourite {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 10;
}
.catalogue-section .catalogue-section--list .catalogue-item--card .card-favourite:hover svg > path {
  fill: #FF385C;
  fill-opacity: 60%;
}
.catalogue-section .catalogue-section--list .catalogue-item--card .card-favourite:focus svg > path {
  fill: #FF385C;
  fill-opacity: 40%;
}
.catalogue-section .catalogue-section--list .catalogue-item--card .card-favourite:active svg > path {
  fill: #FF385C;
  stroke: #FF385C;
  fill-opacity: 100%;
}
.catalogue-section .catalogue-section--list .catalogue-item--card .card-favourite.active svg > path {
  fill: #FF385C;
  stroke: #FF385C;
  fill-opacity: 100%;
}
.catalogue-section .catalogue-section--list .catalogue-item--card .card-favourite svg {
  width: 18px;
  height: 18px;
}
.catalogue-section .catalogue-section--list .catalogue-item--card .card-favourite svg:active {
  animation: fave_click 2s ease;
}
.catalogue-section .catalogue-section--list .catalogue-item--card .card-favourite svg > path {
  fill: #222222;
  transition: all 1s ease;
}
.catalogue-section .catalogue-section--list .catalogue-item--card .card-thumbnail--carousel {
  position: relative;
  margin-bottom: 1rem;
}
.catalogue-section .catalogue-section--list .catalogue-item--card .card-thumbnail--carousel .card-thumbnail--carousel_container {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}
.catalogue-section .catalogue-section--list .catalogue-item--card .card-thumbnail--carousel .card-thumbnail--carousel_container .card-thumbnail {
  display: flex;
  width: 100%;
  aspect-ratio: 1/1.015;
  transition: all 2s ease;
}
.catalogue-section .catalogue-section--list .catalogue-item--card .card-thumbnail--carousel .card-thumbnail--carousel_container .card-thumbnail .card-thumbnail--image_container {
  display: flex;
  aspect-ratio: 1/1.015;
}
.catalogue-section .catalogue-section--list .catalogue-item--card .card-thumbnail--carousel .card-thumbnail--carousel_container .card-thumbnail .card-thumbnail--image_container .card-thumbnail--image {
  width: 100%;
}
.catalogue-section .catalogue-section--list .catalogue-item--card .card-thumbnail--carousel .card-thumbnail--carousel_container .card-thumbnail--swipe {
  position: absolute;
  display: flex;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.catalogue-section .catalogue-section--list .catalogue-item--card .card-thumbnail--carousel .card-thumbnail--carousel_container .card-thumbnail--swipe .card-thumbnail--swipe_btn {
  cursor: pointer;
  display: flex;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  margin: 0 1rem;
  padding: 4px;
  background-color: #fff;
  opacity: 0.45;
  transition: opacity 1s ease;
}
.catalogue-section .catalogue-section--list .catalogue-item--card .card-thumbnail--carousel .card-thumbnail--carousel_container .card-thumbnail--swipe .card-thumbnail--swipe_btn.hide {
  display: none;
}
.catalogue-section .catalogue-section--list .catalogue-item--card .card-thumbnail--carousel .card-thumbnail--carousel_container .card-thumbnail--swipe .card-thumbnail--swipe_btn:hover {
  opacity: 0.8;
}
.catalogue-section .catalogue-section--list .catalogue-item--card .card-thumbnail--carousel .card-thumbnail--carousel_container .card-thumbnail--swipe .card-thumbnail--swipe_btn.btn-left {
  margin-right: auto;
}
.catalogue-section .catalogue-section--list .catalogue-item--card .card-thumbnail--carousel .card-thumbnail--carousel_container .card-thumbnail--swipe .card-thumbnail--swipe_btn.btn-right {
  margin-left: auto;
}
.catalogue-section .catalogue-section--list .catalogue-item--card .card-thumbnail--carousel .card-thumbnail--carousel_container .card-thumbnail--swipe .card-thumbnail--swipe_btn svg {
  margin: auto;
}
.catalogue-section .catalogue-section--list .catalogue-item--card .card-thumbnail--carousel .card-thumbnail--carousel_container .card-thumbnail--swipe .card-thumbnail--swipe_btn svg > path {
  fill: #3E3E3E;
}
.catalogue-section .catalogue-section--list .catalogue-item--card .card-thumbnail--carousel .card-thumbnail--carousel_container .card-thumbnail-switch {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 10px;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, 0);
}
.catalogue-section .catalogue-section--list .catalogue-item--card .card-thumbnail--carousel .card-thumbnail--carousel_container .card-thumbnail-switch .card-thumbnail-switch--btn {
  padding-block: 0;
  padding-inline: 0;
  width: 6px;
  height: 6px;
  margin: 0 0.2rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.45;
  transition: all 1s ease;
}
.catalogue-section .catalogue-section--list .catalogue-item--card .card-thumbnail--carousel .card-thumbnail--carousel_container .card-thumbnail-switch .card-thumbnail-switch--btn:hover {
  opacity: 0.7;
}
.catalogue-section .catalogue-section--list .catalogue-item--card .card-thumbnail--carousel .card-thumbnail--carousel_container .card-thumbnail-switch .card-thumbnail-switch--btn.active {
  opacity: 1;
  width: 8px;
  height: 8px;
}
.catalogue-section .catalogue-section--list .catalogue-item--card .card-redirect {
  position: relative;
  width: 100%;
  text-decoration: none;
}
.catalogue-section .catalogue-section--list .catalogue-item--card .card-redirect:hover {
  color: #000;
}
.catalogue-section .catalogue-section--list .catalogue-item--card .card-redirect .card-details {
  display: block;
  width: 100%;
}
.catalogue-section .catalogue-section--list .catalogue-item--card .card-redirect .card-details .card-details--title {
  font-size: 16px;
  font-weight: 500;
  margin-block-start: 0.25em;
  margin-block-end: 0.25em;
  width: 80%;
  color: #000;
}
.catalogue-section .catalogue-section--list .catalogue-item--card .card-redirect .card-details .card-details--availability,
.catalogue-section .catalogue-section--list .catalogue-item--card .card-redirect .card-details .card-details--distance {
  font-size: 14px;
  font-weight: 300;
  color: #B8B8B8;
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
}
.catalogue-section .catalogue-section--list .catalogue-item--card .card-redirect .card-details .card-details--pricing {
  font-size: 14px;
  font-weight: 300;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  color: #000;
}
.catalogue-section .catalogue-section--list .catalogue-item--card .card-redirect .card-details .card-details--pricing .pricing-amount {
  font-size: 16px;
  font-weight: 500;
  font-variant: tabular-nums;
}
.catalogue-section .catalogue-section--list .catalogue-item--card .card-redirect .card-details .card-details--rating {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  top: 0;
  right: 0;
  font-variant: tabular-nums;
}
.catalogue-section .catalogue-section--list .catalogue-item--card .card-redirect .card-details .card-details--rating svg {
  margin-right: 0.25rem;
}
.catalogue-section .catalogue-section--list .catalogue-item--card .card-redirect .card-details .card-details--rating:hover svg > path {
  transition: fill 1s ease;
  fill: #3D94FF;
}

.catalogue-section--empty {
  position: relative;
  width: 60%;
  margin: auto;
  min-height: 50dvh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 3rem;
}
@media (max-width: 767px) {
  .catalogue-section--empty {
    width: 100%;
  }
}
.catalogue-section--empty h1 {
  font-size: 2.6rem;
  margin-bottom: 0.1rem;
}
.catalogue-section--empty p {
  font-size: 1.66rem;
  font-weight: 300;
}
.catalogue-section--empty a {
  text-decoration: none;
  color: #000;
}
.catalogue-section--empty a:focus, .catalogue-section--empty a:hover {
  text-decoration: none;
}
.catalogue-section--empty a .support-redirect {
  background-color: #3D94FF;
  font-weight: 500;
  color: #fff;
  font-size: 1.25rem;
  padding: 0.6rem 1.75rem;
  border-radius: 13px;
  text-transform: capitalize;
  transition: background-color 1s ease;
}
.catalogue-section--empty a .support-redirect:hover {
  background-color: #000;
}

.catalogue-detail-section {
  position: relative;
  padding: 2rem 2rem 5rem;
  display: block;
}
@media (max-width: 767px) {
  .catalogue-detail-section {
    padding: 0;
  }
}
.catalogue-detail-section .catalogue-detail--header {
  position: relative;
  display: flex;
  margin-bottom: 4rem;
}
@media (max-width: 767px) {
  .catalogue-detail-section .catalogue-detail--header {
    position: absolute;
    z-index: 99;
    width: 100dvw;
    top: 1rem;
    left: 0;
  }
}
.catalogue-detail-section .catalogue-detail--header .catalogue-detail-header--container {
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  .catalogue-detail-section .catalogue-detail--header .catalogue-detail-header--container.text-field {
    display: none;
  }
}
.catalogue-detail-section .catalogue-detail--header .catalogue-detail-header--container .catalogue-item--name {
  font-size: 30px;
  font-weight: 500;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}
.catalogue-detail-section .catalogue-detail--header .catalogue-detail-header--container .catalogue-item--mini_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-block-start: 0;
  margin-block-end: 0;
}
@media (max-width: 767px) {
  .catalogue-detail-section .catalogue-detail--header .catalogue-detail-header--container .catalogue-item--mini_container {
    width: 100%;
  }
}
.catalogue-detail-section .catalogue-detail--header .catalogue-detail-header--container .catalogue-item--mini_container.baseline {
  margin-top: auto;
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}
.catalogue-detail-section .catalogue-detail--header .catalogue-detail-header--container .catalogue-item--mini_container .catalogue-item--mini {
  display: flex;
  margin-right: 1rem;
  font-weight: 300;
}
.catalogue-detail-section .catalogue-detail--header .catalogue-detail-header--container .catalogue-item--mini_container .catalogue-item--mini::marker {
  color: #B8B8B8;
}
.catalogue-detail-section .catalogue-detail--header .catalogue-detail-header--container .catalogue-item--mini_container .catalogue-item--mini:nth-child(n+2) {
  list-style: disc;
  margin-left: 1rem;
}
.catalogue-detail-section .catalogue-detail--header .catalogue-detail-header--container .catalogue-item--mini_container .catalogue-item--mini.item-badge, .catalogue-detail-section .catalogue-detail--header .catalogue-detail-header--container .catalogue-item--mini_container .catalogue-item--mini.item-rating {
  flex-wrap: wrap;
  align-items: center;
}
.catalogue-detail-section .catalogue-detail--header .catalogue-detail-header--container .catalogue-item--mini_container .catalogue-item--mini.item-review, .catalogue-detail-section .catalogue-detail--header .catalogue-detail-header--container .catalogue-item--mini_container .catalogue-item--mini.item-address {
  font-weight: 500;
}
.catalogue-detail-section .catalogue-detail--header .catalogue-detail-header--container .catalogue-item--mini_container .catalogue-item--mini.item-address {
  text-decoration: underline;
}
.catalogue-detail-section .catalogue-detail--header .catalogue-detail-header--container .catalogue-item--mini_container .catalogue-item--mini svg {
  margin-right: 6px;
  margin-top: auto;
  margin-bottom: auto;
  width: 13px;
  height: 13px;
}
.catalogue-detail-section .catalogue-detail--header .catalogue-detail-header--container .catalogue-item--mini_container .catalogue-item--mini svg path {
  fill: #000;
}
.catalogue-detail-section .catalogue-detail--header .catalogue-detail-header--container .catalogue-item--mini_container .item-redirect {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 1.5rem;
  text-decoration: underline;
}
.catalogue-detail-section .catalogue-detail--header .catalogue-detail-header--container .catalogue-item--mini_container .item-redirect svg {
  margin-right: 6px;
  margin-top: auto;
  margin-bottom: auto;
  width: 13px;
  height: 13px;
}
.catalogue-detail-section .catalogue-detail--header .catalogue-detail-header--container .catalogue-item--mini_container .item-redirect.back-btn {
  display: none;
  margin-right: auto;
  margin-left: 1rem;
}
@media (max-width: 767px) {
  .catalogue-detail-section .catalogue-detail--header .catalogue-detail-header--container .catalogue-item--mini_container .item-redirect {
    background-color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    justify-content: center;
    box-shadow: 0px 2px 2px 0.5px rgba(34, 34, 34, 0.6);
    margin-right: 1rem;
  }
  .catalogue-detail-section .catalogue-detail--header .catalogue-detail-header--container .catalogue-item--mini_container .item-redirect.back-btn {
    display: flex;
  }
  .catalogue-detail-section .catalogue-detail--header .catalogue-detail-header--container .catalogue-item--mini_container .item-redirect svg {
    height: 15px;
    width: 15px;
    margin: 0;
  }
  .catalogue-detail-section .catalogue-detail--header .catalogue-detail-header--container .catalogue-item--mini_container .item-redirect span {
    display: none;
  }
}
.catalogue-detail-section .catalogue-detail--thumbnail {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  border-radius: 15px;
  overflow: hidden;
  aspect-ratio: 118/45;
  margin: 2rem 0;
}
@media (max-width: 767px) {
  .catalogue-detail-section .catalogue-detail--thumbnail {
    margin: 0;
    display: flex;
    aspect-ratio: 43/35;
    border-radius: 0;
  }
}
.catalogue-detail-section .catalogue-detail--thumbnail .thumbnail--main {
  position: relative;
  width: 100%;
  aspect-ratio: 58/45;
}
.catalogue-detail-section .catalogue-detail--thumbnail .thumbnail--main img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: inherit;
  height: auto;
  aspect-ratio: 11/9;
}
@media (max-width: 767px) {
  .catalogue-detail-section .catalogue-detail--thumbnail .thumbnail--main img {
    aspect-ratio: 11/9;
  }
}
.catalogue-detail-section .catalogue-detail--thumbnail .thumbnail--sub_group {
  position: relative;
  display: grid;
  aspect-ratio: 58/45;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}
@media (max-width: 767px) {
  .catalogue-detail-section .catalogue-detail--thumbnail .thumbnail--sub_group {
    display: none;
  }
}
.catalogue-detail-section .catalogue-detail--thumbnail .thumbnail--sub_group .thumbnail--sub_container {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.catalogue-detail-section .catalogue-detail--thumbnail .thumbnail--sub_group .thumbnail--sub_container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: inherit;
  height: auto;
  aspect-ratio: 11/9;
}
@media (max-width: 767px) {
  .catalogue-detail-section .catalogue-detail--thumbnail .thumbnail--sub_group .thumbnail--sub_container img {
    aspect-ratio: 11/9;
  }
}
.catalogue-detail-section .catalogue-detail--details {
  position: relative;
  display: flex;
  margin: 1.5rem 0;
  color: #3E3E3E;
}
@media (max-width: 767px) {
  .catalogue-detail-section .catalogue-detail--details {
    flex-wrap: wrap;
    padding: 0 1.25rem;
  }
}
.catalogue-detail-section .catalogue-detail--details .catalogue-item-detail {
  position: relative;
  display: block;
}
.catalogue-detail-section .catalogue-detail--details .catalogue-item-detail .catalogue-item-detail--header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
@media (max-width: 767px) {
  .catalogue-detail-section .catalogue-detail--details .catalogue-item-detail .catalogue-item-detail--header {
    padding-bottom: 0;
    margin-bottom: 0.25rem;
  }
}
.catalogue-detail-section .catalogue-detail--details .catalogue-item-detail .catalogue-item-detail--header .catalogue-item-detail--header_segment {
  display: block;
}
.catalogue-detail-section .catalogue-detail--details .catalogue-item-detail .catalogue-item-detail--header .catalogue-item-detail--header_segment .item-detail-brand {
  font-size: 28px;
  font-weight: 500;
  margin-block-end: 0.2em;
}
.catalogue-detail-section .catalogue-detail--details .catalogue-item-detail .catalogue-item-detail--header .catalogue-item-detail--header_segment .item-detail-extra-info {
  margin-block-start: 0;
  display: flex;
}
.catalogue-detail-section .catalogue-detail--details .catalogue-item-detail .catalogue-item-detail--header .catalogue-item-detail--header_segment .item-detail-extra-info .extra-info-item {
  font-size: 14px;
  font-weight: 400;
  margin-right: 1rem;
}
@media (max-width: 767px) {
  .catalogue-detail-section .catalogue-detail--details .catalogue-item-detail .catalogue-item-detail--header .catalogue-item-detail--header_segment .item-detail-extra-info .extra-info-item {
    font-size: 12px;
    margin-right: 1rem;
  }
}
.catalogue-detail-section .catalogue-detail--details .catalogue-item-detail .catalogue-item-detail--header .catalogue-item-detail--header_segment .item-detail-extra-info .extra-info-item::marker {
  color: #B8B8B8;
}
.catalogue-detail-section .catalogue-detail--details .catalogue-item-detail .catalogue-item-detail--header .catalogue-item-detail--header_segment .item-detail-extra-info .extra-info-item:nth-child(n+2) {
  list-style: disc;
  margin-left: 1rem;
}
@media (max-width: 767px) {
  .catalogue-detail-section .catalogue-detail--details .catalogue-item-detail .catalogue-item-detail--header .catalogue-item-detail--header_segment .item-detail-extra-info .extra-info-item:nth-child(n+2) {
    margin-left: 0.7rem;
  }
}
.catalogue-detail-section .catalogue-detail--details .catalogue-item-detail .catalogue-item-detail--header .catalogue-item-detail--header_segment .item-brand-logo {
  margin: auto;
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  border: 1px solid #fff;
  overflow: hidden;
}
@media (max-width: 767px) {
  .catalogue-detail-section .catalogue-detail--details .catalogue-item-detail .catalogue-item-detail--header .catalogue-item-detail--header_segment .item-brand-logo {
    width: 4rem;
    height: 4rem;
  }
}
.catalogue-detail-section .catalogue-detail--details .catalogue-item-detail .catalogue-item-detail_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
@media (max-width: 767px) {
  .catalogue-detail-section .catalogue-detail--details .catalogue-item-detail .catalogue-item-detail_container {
    flex-direction: column-reverse;
  }
}
.catalogue-detail-section .catalogue-detail--details .catalogue-item-detail .catalogue-item-detail_container .catalogue-item-detail--stats {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1rem;
}
.catalogue-detail-section .catalogue-detail--details .catalogue-item-detail .catalogue-item-detail_container .catalogue-item-detail--stats .detail-stats-list {
  display: block;
  padding-top: 1rem;
}
.catalogue-detail-section .catalogue-detail--details .catalogue-item-detail .catalogue-item-detail_container .catalogue-item-detail--stats .detail-stats-list .detail-stats-item {
  display: flex;
  margin-bottom: 2.5rem;
}
.catalogue-detail-section .catalogue-detail--details .catalogue-item-detail .catalogue-item-detail_container .catalogue-item-detail--stats .detail-stats-list .detail-stats-item span {
  margin-right: 20px;
  width: 20px;
  max-height: 40px;
}
.catalogue-detail-section .catalogue-detail--details .catalogue-item-detail .catalogue-item-detail_container .catalogue-item-detail--stats .detail-stats-list .detail-stats-item .item-detail {
  display: block;
}
.catalogue-detail-section .catalogue-detail--details .catalogue-item-detail .catalogue-item-detail_container .catalogue-item-detail--stats .detail-stats-list .detail-stats-item .item-detail h4 {
  font-size: 14px;
  font-weight: 600;
  margin-block-end: 0.1em;
  margin-block-start: 0;
}
.catalogue-detail-section .catalogue-detail--details .catalogue-item-detail .catalogue-item-detail_container .catalogue-item-detail--stats .detail-stats-list .detail-stats-item .item-detail p {
  font-weight: 400;
  display: flex;
  width: auto;
  margin-block-end: 0.1em;
  margin-block-start: 0.1em;
}
.catalogue-detail-section .catalogue-detail--details .catalogue-item-detail .catalogue-item-detail_container .catalogue-item-detail--info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.catalogue-detail-section .catalogue-detail--details .catalogue-item-detail .catalogue-detail--offer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 1rem 0;
}
.catalogue-detail-section .catalogue-detail--details .catalogue-item--booking {
  position: relative;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .catalogue-detail-section .catalogue-detail--details .catalogue-item--booking {
    width: 100%;
    min-height: 90px;
    padding: 1rem 0;
  }
}
.catalogue-detail-section .catalogue-detail--offer {
  position: relative;
  margin: 1rem 0;
  padding-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .catalogue-detail-section .catalogue-detail--offer {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.catalogue-detail-section .catalogue-detail--offer .item-offer-heading {
  width: 100%;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 2rem;
}
.catalogue-detail-section .catalogue-detail--offer .item-offer-list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .catalogue-detail-section .catalogue-detail--offer .item-offer-list {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}
.catalogue-detail-section .catalogue-detail--offer .item-offer-list .offer-list-item {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  color: #3E3E3E;
  text-transform: capitalize;
}
.catalogue-detail-section .catalogue-detail--offer .item-offer-list .offer-list-item span {
  max-width: 30px;
  margin-right: 2rem;
}
@media (max-width: 767px) {
  .catalogue-detail-section .catalogue-detail--offer .item-offer-list .offer-list-item span {
    margin-right: 3rem;
  }
}
.catalogue-detail-section .catalogue-detail--offer .item-offer-btn--container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.catalogue-detail-section .catalogue-detail--offer .item-offer-btn--container .btn-more-thumbnail {
  position: relative;
}
.catalogue-detail-section .catalogue-detail-rating {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  color: #3E3E3E;
  margin: 1rem 0;
}
@media (max-width: 767px) {
  .catalogue-detail-section .catalogue-detail-rating {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.catalogue-detail-section .catalogue-detail-rating .rating-heading {
  width: 100%;
  font-size: 28px;
  margin-bottom: 1.5rem;
}
.catalogue-detail-section .catalogue-detail-rating .rating-heading span {
  margin-right: 0.5rem;
}
.catalogue-detail-section .catalogue-detail-rating .item-rating-list {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 70px;
}
@media (max-width: 767px) {
  .catalogue-detail-section .catalogue-detail-rating .item-rating-list {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
}
.catalogue-detail-section .catalogue-detail-rating .item-rating-list .rating-item {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.catalogue-detail-section .catalogue-detail-rating .item-rating-list .rating-item .rating-item--title {
  font-size: 16px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  text-transform: capitalize;
}
@media (max-width: 767px) {
  .catalogue-detail-section .catalogue-detail-rating .item-rating-list .rating-item .rating-item--title {
    font-size: 15.25px;
    margin-block-end: 0.25rem;
    margin-block-start: 0.25rem;
  }
}
.catalogue-detail-section .catalogue-detail-rating .item-rating-list .rating-item .rating-loader {
  width: 50%;
  display: flex;
  align-items: center;
  margin-left: auto;
}
.catalogue-detail-section .catalogue-detail-rating .item-rating-list .rating-item .rating-loader .rating-loader--bar {
  margin-right: 1rem;
  width: 80%;
  height: 8px;
  border-radius: 20px;
  background-color: #B8B8B8;
  overflow: hidden;
}
.catalogue-detail-section .catalogue-detail-rating .item-rating-list .rating-item .rating-loader .rating-loader--bar .loader--bar-fill {
  background-color: #3E3E3E;
  border-radius: 15px;
  width: 70%;
  height: inherit;
}
.catalogue-detail-section .catalogue-detail--comments {
  margin: 1rem 0;
  padding: 2rem 0;
  position: relative;
  display: block;
}
@media (max-width: 767px) {
  .catalogue-detail-section .catalogue-detail--comments {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.catalogue-detail-section .catalogue-detail--comments .people-review-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 250px;
}
@media (max-width: 767px) {
  .catalogue-detail-section .catalogue-detail--comments .people-review-list {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }
}
.catalogue-detail-section .catalogue-detail--comments .people-review-list .people-review-item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
.catalogue-detail-section .catalogue-detail--comments .people-review-list .people-review-item .item-header {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}
.catalogue-detail-section .catalogue-detail--comments .people-review-list .people-review-item .item-header .user-image {
  width: 60px;
  height: 60px;
  margin-right: 15px;
}
.catalogue-detail-section .catalogue-detail--comments .people-review-list .people-review-item .item-header .user-info {
  display: flex;
  flex-wrap: wrap;
}
.catalogue-detail-section .catalogue-detail--comments .people-review-list .people-review-item .item-header .user-info .user-info--name {
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  margin-block-start: 0;
  margin-block-end: 5px;
}
.catalogue-detail-section .catalogue-detail--comments .people-review-list .people-review-item .item-header .user-info .user-info--timestamp {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  color: #B8B8B8;
}
.catalogue-detail-section .catalogue-detail--comments .people-review-list .people-review-item.next-btn-container {
  align-items: center;
}
.catalogue-detail-section .catalogue-detail--comments .people-review-list .people-review-item.next-btn-container .btn-more-thumbnail {
  padding-left: 2rem;
  padding-right: 2rem;
}
.catalogue-detail-section .catalogue-detail--location {
  position: relative;
  display: block;
  margin: 1rem 0;
  padding: 2rem 0;
}
@media (max-width: 767px) {
  .catalogue-detail-section .catalogue-detail--location {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.catalogue-detail-section .catalogue-detail--location .location-header {
  font-size: 28px;
  margin-bottom: 1.5rem;
}
.catalogue-detail-section .catalogue-detail--location .location-header--sub {
  font-size: 14px;
  font-weight: 400;
}
.catalogue-detail-section .catalogue-detail--location .map-container {
  border-radius: 5px;
  width: 100%;
  height: 530px;
  background-color: #888888;
  margin-top: 4rem;
  margin-bottom: 2rem;
  overflow: hidden;
}
@media (max-width: 767px) {
  .catalogue-detail-section .catalogue-detail--location .map-container {
    height: 300px;
  }
}
.catalogue-detail-section .catalogue-detail--additional {
  margin: 1rem 0 3rem;
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
@media (max-width: 767px) {
  .catalogue-detail-section .catalogue-detail--additional {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.catalogue-detail-section .catalogue-detail--additional .additional-header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .catalogue-detail-section .catalogue-detail--additional .additional-header {
    flex-wrap: nowrap;
  }
}
.catalogue-detail-section .catalogue-detail--additional .additional-header .brand-logo {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  margin-right: 1.5rem;
}
@media (max-width: 767px) {
  .catalogue-detail-section .catalogue-detail--additional .additional-header .brand-logo {
    width: 4.5rem;
    height: 4.5rem;
  }
}
.catalogue-detail-section .catalogue-detail--additional .additional-header .company-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.catalogue-detail-section .catalogue-detail--additional .additional-header .company-info .company-info--name {
  font-size: 28px;
  font-weight: 500;
  margin-block-end: 0.25rem;
  margin-block-start: 0;
}
.catalogue-detail-section .catalogue-detail--additional .additional-header .company-info .company-info--established {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  margin-block-end: 0;
  margin-block-start: 0;
}
.catalogue-detail-section .catalogue-detail--additional .additional-context {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px 250px;
}
@media (max-width: 767px) {
  .catalogue-detail-section .catalogue-detail--additional .additional-context {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}
.catalogue-detail-section .catalogue-detail--additional .additional-context .additional-context--extra,
.catalogue-detail-section .catalogue-detail--additional .additional-context .additional-context--experience,
.catalogue-detail-section .catalogue-detail--additional .additional-context .additional-context--info {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
}
.catalogue-detail-section .catalogue-detail--additional .additional-context .additional-context--extra .additional-context--achievements {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.catalogue-detail-section .catalogue-detail--additional .additional-context .additional-context--extra .additional-context--achievements .achievement-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 1.5rem;
}
.catalogue-detail-section .catalogue-detail--additional .additional-context .additional-context--extra .additional-context--achievements .achievement-item span {
  width: 15px;
  height: 15px;
  margin-right: 0.5rem;
}
.catalogue-detail-section .catalogue-detail--additional .additional-context .additional-context--experience .experience-heading {
  width: 100%;
  margin-bottom: 1rem;
  margin-block-start: 0;
  margin-block-end: 0;
}
.catalogue-detail-section .catalogue-detail--additional .additional-context .additional-context--contact a:hover {
  text-decoration: none;
}
.catalogue-detail-section .catalogue-detail--terms {
  margin: 1rem 0 2rem;
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
@media (max-width: 767px) {
  .catalogue-detail-section .catalogue-detail--terms {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.catalogue-detail-section .catalogue-detail--terms .terms-heading {
  width: 100%;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 1rem;
}
.catalogue-detail-section .catalogue-detail--terms .policy-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 150px;
  font-size: 14px;
}
@media (max-width: 767px) {
  .catalogue-detail-section .catalogue-detail--terms .policy-list {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}
.catalogue-detail-section .catalogue-detail--terms .policy-list .policy-list-item > .policy-list-item--heading {
  font-weight: 600;
  margin-block-start: 0.15rem;
  margin-block-end: 1rem;
}

.reservation-section {
  position: relative;
  padding: 2rem 7rem 5rem;
  display: block;
}
@media (max-width: 767px) {
  .reservation-section {
    padding: 2rem 1.5rem;
  }
}
.reservation-section .reservation-section--nav {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.reservation-section .reservation-section--nav .reservation-section--nav_redirect {
  width: 18px;
  height: 18px;
  margin-right: 2rem;
  background-color: transparent;
  border: none;
}
.reservation-section .reservation-section--nav .reservation-section--nav_header {
  font-size: 32px;
  font-weight: 600;
  text-transform: lowercase;
  margin-block-end: 0;
  margin-block-start: 0;
}
@media (max-width: 767px) {
  .reservation-section .reservation-section--nav .reservation-section--nav_header {
    font-size: 18px;
  }
}
.reservation-section .reservation-section--body {
  width: 100%;
  position: relative;
  padding: 0 2rem;
  display: flex;
  gap: 30px;
}
@media (max-width: 767px) {
  .reservation-section .reservation-section--body {
    flex-direction: column;
    padding: 0;
    gap: 10px;
  }
}
.reservation-section .reservation-section--body .reservation-body--container {
  position: relative;
}
.reservation-section .reservation-section--body .reservation-body--container .reservation-body--header {
  font-size: 22px;
  font-weight: 600;
}
@media (max-width: 767px) {
  .reservation-section .reservation-section--body .reservation-body--container .reservation-body--header {
    font-size: 18px;
    margin-block-end: 0;
  }
}
.reservation-section .reservation-section--body .reservation-body--container .reservation-body--sub {
  position: relative;
  border-radius: 8px;
}
.reservation-section .reservation-section--body .reservation-body--container .reservation-body--sub_container {
  max-width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  padding: 1rem 0.75rem;
  margin-block-start: 0;
  margin-block-end: 0;
}
@media (max-width: 767px) {
  .reservation-section .reservation-section--body .reservation-body--container .reservation-body--sub_container {
    padding-left: 0;
  }
}
.reservation-section .reservation-section--body .reservation-body--container .reservation-body--sub_container.selector {
  border-top: 0px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 2px solid #B8B8B8;
  border-right: 2px solid #B8B8B8;
}
@media (max-width: 767px) {
  .reservation-section .reservation-section--body .reservation-body--container .reservation-body--sub_container.selector {
    padding: 0.5rem 0.75rem;
  }
}
.reservation-section .reservation-section--body .reservation-body--container .reservation-body--sub_container.selector:nth-child(1) {
  border-top: 2px solid #B8B8B8;
  border-bottom: 2px solid #B8B8B8;
  border-radius: 8px 8px 0 0;
}
.reservation-section .reservation-section--body .reservation-body--container .reservation-body--sub_container.selector:nth-last-child(1) {
  border-bottom: 2px solid #B8B8B8;
  border-top: 2px solid #B8B8B8;
  border-radius: 0 0 8px 8px;
}
.reservation-section .reservation-section--body .reservation-body--container .reservation-body--sub_container.selector:has(.sub-container_segment > .input-radio-group > .reserve-radio-btn:checked) {
  border-color: #3E3E3E;
  border-top: 2px solid #3E3E3E;
  border-bottom: 2px solid #3E3E3E;
}
.reservation-section .reservation-section--body .reservation-body--container .reservation-body--sub_container .sub-container_segment {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.reservation-section .reservation-section--body .reservation-body--container .reservation-body--sub_container .sub-container_segment.aln-left {
  width: 20%;
  display: flex;
  justify-content: right;
}
.reservation-section .reservation-section--body .reservation-body--container .reservation-body--sub_container .sub-container_segment .segment-header {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  margin-block-start: 0.25rem;
  margin-block-end: 0.25rem;
}
@media (max-width: 767px) {
  .reservation-section .reservation-section--body .reservation-body--container .reservation-body--sub_container .sub-container_segment .segment-header {
    font-size: 14px;
  }
}
.reservation-section .reservation-section--body .reservation-body--container .reservation-body--sub_container .sub-container_segment .segment-info {
  width: 100%;
  font-size: 15.75px;
  margin-block-start: 0.25rem;
  margin-block-end: 0.25rem;
}
@media (max-width: 767px) {
  .reservation-section .reservation-section--body .reservation-body--container .reservation-body--sub_container .sub-container_segment .segment-info {
    font-size: 12px;
  }
}
.reservation-section .reservation-section--body .reservation-body--container .reservation-body--sub_container .sub-container_segment .property-edit {
  margin-left: auto;
  font-weight: 600;
  text-decoration: underline;
}
.reservation-section .info-bubble {
  margin-bottom: 2rem;
}

/*# sourceMappingURL=app.css.map */
